
<div class="container text-center">
  <h1>SEEK My Fit</h1>
    <br>
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> Sign in with your Seek profile</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span> Enter your Postcode</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-comment"></span> Tell us about yourself</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-star"></span> Show me the jobs</li>
  </ul>
  <a class="link-next" href="#classification"> Next </a>
</div>