
<div class="container text-center">
  <h1>SEEK My Fit</h1>
    <h3>Start by</h3>
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> Your Seek profile</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span> Location</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-comment"></span> Tell Us about your self</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-star"></span> Show me the jobs</li>
  </ul>
  <a class="link-next" href="#classification"> Next </a>
</div>